{% extends 'AppBundle:partials:layout.html.twig' %}

{% block body %}
    <h1>Списък с тарифи</h1>
        <ul>
            <li>
                <a href="{{ path('cms_carenginecapacity_new') }}">Създай нова тарифа за капацитет</a>
            </li>
            <li>
                <a href="{{ path('cms_carcategory_new') }}">Създай нова тарифа за категория</a>
            </li>
        </ul>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Застраховател</th>
                <th>Категория</th>
                <th>Сума</th>
                <th>Вид</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tariff in basicTariffs %}
            <tr>
                <td><a href="{{ path('cms_carenginecapacity_show', { 'id': tariff.id }) }}">{{ tariff.id }}</a></td>
                <td>{{ tariff.insurer.title }}</td>
                <td><i>[{{ tariff.categoryOption.category}}]</i><br/> <strong>{{ tariff.categoryOption.title }}</strong></td>
                <td>{{ tariff.amount }} {{ (tariff.isPercent)? '%' : 'лв.' }}</td>
                <td>{{ (tariff.isDiscount)? 'отстъпка' : 'надценка' }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
