{% extends 'base.html.twig' %}

{% block body %}
    <h1>Insurer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ insurer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ insurer.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ insurer.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('insurers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('insurers_edit', { 'id': insurer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
